<form [formGroup]="loginForm.group" (ngSubmit)="submit()">
    <input type="text" placeholder="Nome" name="nome" id="nome" />
    <br><br>
    <input type="date" placeholder="Aniversário" name="date" id="date" />
    <br><br>
    <input type="phone" [cbxStatus]="loginForm.controls['tel']" formControlName="tel" placeholder="Celular" name="phone" id="phone" />
    <br><br>
    <label for="email" [cbxStatus]="loginForm.controls['email']">E-mail</label>
    <br>
    <input type="email" [cbxStatus]="loginForm.controls['email']" formControlName="email" placeholder="E-mail" id="email" />
    <cbx-form-errors [cbxForm]="loginForm" cbxControl="email"></cbx-form-errors>
    <br><br>
    <label for="cpf" [cbxStatus]="loginForm.controls['cpf']">CPF</label>
    <br>
    <input type="cpf" [cbxStatus]="loginForm.controls['cpf']" formControlName="cpf" placeholder="CPF" id="cpf" />
    <cbx-form-errors [cbxForm]="loginForm" cbxControl="cpf"></cbx-form-errors>
    <br><br>
    <label for="cpf" [cbxStatus]="loginForm.controls['cnpj']">CNPJ</label>
    <br>
    <input type="cnpj" [cbxStatus]="loginForm.controls['cnpj']" formControlName="cnpj" placeholder="CNPJ" id="cnpj" />
    <cbx-form-errors [cbxForm]="loginForm" cbxControl="cnpj"></cbx-form-errors>
    <br><br>
    <input type="password" placeholder="*******" name="password" id="password" />
    <br><br>
    {{loginForm.valid}}
    <br><br>
    <button>Cadastrar</button>
</form>
