<form [formGroup]="loginForm.group" (ngSubmit)="submit()">
    <input type="text" placeholder="Nome" name="nome" id="nome" />
    <br><br>
    <input type="date" placeholder="Aniversário" name="date" id="date" />
    <br><br>
    <input type="phone" placeholder="Celular" name="phone" id="phone" />
    <br><br>
    <label for="email" [cbxStatus]="loginForm.controls['email']">E-mail</label>
    <br>
    <input type="email" [cbxStatus]="loginForm.controls['email']" formControlName="email" placeholder="E-mail" id="email" />
    <cbx-form-errors [cbxForm]="loginForm" cbxControl="email"></cbx-form-errors>
    <br>
    <input type="password" placeholder="*******" name="password" id="password" />
    <br><br>
    {{loginForm.valid}}
    <br><br>
    <button>Cadastrar</button>
</form>
